<div>

<div class="navbarmain">
<div class="logo"><%= image_tag("logo.svg", :alt => "description") %></div>
<div class="app-title">Ment For Others</div>
<%= link_to 'Home', root_path, class: 'homenav' %>
<div class="a-rectangle"></div>
<div class="sign-header">Signup as Mentor</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :first_name, class: 'fname', placeholder: "First Name" %>
      <%= f.text_field :last_name, class: 'lname', placeholder: "Last Name" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'email' %>
      <%= f.telephone_field :phone_number, class: 'pnumber', placeholder: "Phone Number" %>
      <%= f.number_field(:age, in: 15..100, step: 1, class: 'age', placeholder: "Age") %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'pass', placeholder: "Password (minimum 6 characters)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'cpass', placeholder: "Confirm Password" %>
      <%= f.text_field :occupation, class: 'occupation', placeholder: "Occupation" %>
      <%= f.text_field :location, class: 'aff', placeholder: "Location" %>
      <%= f.text_field :field_of_expertise, class: 'foe', placeholder: "Expertise" %>
      <%= f.hidden_field :usertype, :value => "mentor" %>

      <%= f.submit "Sign up", class: 'rbutton' %>
  <% end %>
</div>
</div>

<%= render "mentors/shared/links" %>
